@import '../../../../../assets/styles/color';

.link {

  select,
  input {
    background: $white;
    text-align: right;
    width: 7em;
    color: $pop-darker;
    font-weight: 600;
  }

  input {
    text-align: right;
    width: 100%;
    padding-right: .4em;
    margin-right: 0;
    // right: -3px;
  }
}

.no-child {
  display: grid;
  grid-template-columns: 30% auto;
  border-bottom: 1px solid $cloud;

  .black-label {
    padding: 0.4em 0.2em;
    top: .2em;
  }

  .link {
    padding: 0.4em 0.2em;
    padding-bottom: .5em;
    top: -.4em;

    .material-icons {
      margin: 0;
      padding: 0;
    }
  }
}

.col-3 {
  grid-template-columns: 20% 70% auto;

  .action {
    span {
      color: $tertiary;
      top: 0em;
    }
  }
}

.med {
  grid-template-columns: 60% auto;

  select {
    width: 100%;
  }

  .check {
    margin: .4em;
    top: .4em;
  }
}

.long {
  grid-template-columns: 90% auto;

  .check {
    margin: .4em;
    top: .4em;
  }
}


.dash-forms {
  background: $cloud;
  padding: 0;
}

.form-item {
  width: 100%;
}

.dash-forms .preview img {
  width: 85%;
  margin: .1em auto;
  height: auto;

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 0;
    border-radius: 0 !important;
  }
}


.no-images {
  padding: 2em;
  text-align: center;
  font-weight: 400;
  border: 2px dotted $darker-grey;
  width: 90%;
  margin: 1em auto;
  border-radius: .5em;

  h1 {


    span {
      display: block;
      font-weight: 400;

      padding: .5em;
    }
  }
}




.add-cat {
  .form-section {
    width: 30%;
    margin: 10em auto;
    padding: 2em;
    border-radius: .5em;

    @media only screen and (max-width: 600px) {

      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      border-radius: 0;
      margin: 0;
    }

    .detail {
      padding-bottom: 1em;
    }

    button {
      margin-top: 2em;
      background: $pop;
      border-radius: .5em;
      padding: .7em;
    }

    img {
      width: 80%;
    }
  }
}

.form-item {
  animation: none;
}

.grid {
  grid-template-columns: 35% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.form-items-grid {
  display: grid;
  grid-template-columns: 50% auto;
  border: 1px solid $cloud;
  padding: .5em 0;
  width: 98.5%;
  background: $white;
  margin: 1em 0;
  padding: 1em;
  border-radius: .5em;

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .add-new-catergory {
    display: block;
    padding: .4em;
    border-radius: .4em;

    text-align: left;
    font-weight: 600;
    color: $warn-color;
    // border: 2px solid $black;
    margin: .5em 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  .item {
    label {
      left: 1em
    }
  }


  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    width: 100%;
  }
}




.options {
  display: flex;
  background: $white;
  padding: 0;
  margin: 0;
  border-radius: .5em;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  .option {
    font-weight: 700;
    padding: .4em;


    span {
      position: absolute;
      top: -21px;
      right: 5px;
      font-size: 1.5em;
      color: $secondary;
    }

    .icon-more {
      position: fixed;
      top: auto;
      right: 1em;
      font-size: 1.5em;
      color: $tertiary;
      z-index: 100000;
    }
  }

  .label {

    top: .5em;
  }

  .size-btn {
    border-radius: .5em;
    width: auto;
    height: 2em;
    background: $pop;
    text-align: center;
    padding: .2em .5em;
    font-weight: 700;
    border: none;
    margin: 0 .3em;
    cursor: pointer;
    top: .5em;
    color: $black;
  }

  .color-btn {
    border-radius: 10em;
    height: 2em;
    width: 2em;
    border: 1px solid $darker-grey;
    cursor: pointer;
    margin: 0 .3em;
    color: $darker-grey;


  }

}

.set-up-varition-view {
  width: 50%;
  margin: 5em auto;
  padding: 1em;
  border-radius: .5em;
  background: $white;


}

.upload-preview {
  background: $white;
  margin: 1em;
  padding: 1em;
  border-radius: .5em;
  margin-left: 0;

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 0;
  }

  .preview {
    text-align: center;

    img {
      margin: 0 auto;
      width: 90%;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}


.close-mod {
  padding: .5em 1em;
  text-align: right;

  span {
    top: 0;
    cursor: pointer;
  }
}


.data-view-main {

  @media only screen and (max-width: 600px) {
    animation: moveInLeft .2s ease-out 0s;
    animation-fill-mode: backwards;
  }
}

textarea {
  color: $pop-darker;
  font-family: 'Jost' !important;
  font-weight: 600;
  text-align: right;
  line-height: 1;

  &::placeholder {
    color: $grey;
    font-weight: 400;
    font-style: italic;
  }
}


.color-section {
  border: 2px solid;
  margin: 1em 0;

  h5 {
    padding: 1em;
  }
}

.color-grid {
  display: grid;
  grid-template-columns: 40% auto;

  .col {
    &:last-child {
      text-align: right;
    }

    .col-btn{
      width: 10em;
      background: #e5e9035b;
      color: $black;
      padding: .5em;
      text-align: center;
      float: right;
      margin: 1em;
      cursor: pointer;
    }
  }
}
