<h3 class="heading" *ngIf="products">
  My products  <span (click)="addProduct()">Add product</span>
</h3>

<div class="filters">
  <div class="search-box">
    <input type="search" [(ngModel)]="searchString" placeholder="🔎 Filter by product name or description">
  </div>

  <div class="tabs">
    <p>
      <span  (click)="all()">Active ({{activeProducts?.length}})</span>
      <span  (click)="filterWith(STATUS_TRASHED_STRING)">Trash ({{trasheddProducts?.length}})</span>
      <!-- <span  (click)="filterWith('all')">Active ({{products.length}})</span> -->
    </p>
  </div>
</div>
<div class="products" *ngIf="products">

  <div class="product" *ngFor="let product of products   | searchproduct: searchString; let i = index">
    <div class="image">
      <img [src]="product.FeaturedImageUrl" *ngIf="product.FeaturedImageUrl" alt="Awesome Sunglasses"
        (click)="view(product)">
      <img *ngIf="!product.FeaturedImageUrl" src="assets/images/common/image-holder.svg" alt="" (click)="view(product)">

    </div>

    <div class="product-details" (click)="view(product)">
      <p>
        {{product.Name}}
        <span>{{product.ParentCategoryName}} | {{product.CategoryName}}</span>
        <span *ngIf="product.IsJustInTime != 'Just in time'"> {{product.TotalStock}} In stock</span>
        <span *ngIf="product.IsJustInTime == 'Just in time'"> {{product.OrderLimit}} Max. orders</span>
        <span class="cat">
          {{product.IsJustInTime}}
        </span>
        <span class="price" *ngIf="!product.OnSale">
          {{product.RegularPrice | currency:'R'}}
        </span>
        <span class="price" *ngIf="product.OnSale">
          <del> {{product.RegularPrice | currency:'R'}}</del> <br>
          {{product.SalePrice | currency:'R'}}
        </span>
      </p>
    </div>


  </div>
</div>




<div class="quick-add" *ngIf="showAdd && newProduct">
  <div class="form">
    <h1>
      Add new product.
    </h1>


    <div class="form-item">
      <label for="">Product name</label>
      <input type="text" name="" id="" [(ngModel)]="newProduct.Name" placeholder="Enter product name.">
    </div>

    <div class="form-item">
      <label for=""><b>Product stock type.</b></label>
      <select [(ngModel)]="newProduct.IsJustInTime">
        <option value="Stock product">Stock product</option>
        <option value="Just in time">Just in time</option>
      </select>
    </div>
    <div class="form-item" *ngIf="newProduct.IsJustInTime == 'Just in time'">
      <label for=""><b>Estimated shipping days, from the order date.</b></label>
      <select [(ngModel)]="newProduct.EstimatedDeliveryDays">
        <option value="1">1 Day</option>
        <option value="2">2 Days</option>
        <option value="3">3 Days</option>
        <option value="4">4 Days</option>
        <option value="5">5 Days</option>
        <option value="6">6 Days</option>
        <option value="7">7 Days</option>
        <option value="8">8 Days</option>
        <option value="9">9 Days</option>
        <option value="10">10 Days</option>
        <option value="11">11 Days</option>
        <option value="12">12 Days</option>
        <option value="13">13 Days</option>
        <option value="14">14 Days</option>
        <option value="-1"> Other</option>
      </select>

    </div>

    <div class="form-item" *ngIf="newProduct.EstimatedDeliveryDays == -1">
      <label for="">Enter your own shipping days</label>
      <input type="number" name="" id="" [(ngModel)]="newProduct.OtherEstimatedDeliveryDays"
        placeholder="Enter number of days, e.ge. 7">
    </div>

    <div class="form-item" *ngIf="newProduct.IsJustInTime == 'Just in time'">
      <label for=""><b>Product order limit.</b></label>
      <select [(ngModel)]="newProduct.OrderLimit">
        <option [value]="PRODUCT_ORDER_LIMIT_MAX">Not limited</option>
        <option value="1">1 Product</option>
        <option value="2">2 Products</option>
        <option value="3">3 Products</option>
        <option value="4">4 Products</option>
        <option value="5">5 Products</option>
        <option value="6">6 Products</option>
        <option value="7">7 Products</option>
        <option value="8">8 Products</option>
        <option value="9">9 Products</option>
        <option value="10">10 Products</option>
        <option value="11">11 Products</option>
        <option value="12">12 Products</option>
        <option value="13">13 Products</option>
        <option value="14">14 Products</option>
        <option value="-1"> Other</option>
      </select>

    </div>

    <div class="form-item" *ngIf="newProduct.OrderLimit == -1">
      <label for="">Enter your own order limit</label>
      <input type="number" name="" id="" [(ngModel)]="newProduct.OtherOrderLimit"
        placeholder="Enter number of days, e.ge. 7">
    </div>


    <div class="form-item">
      <label for="">Stock in hand</label>
      <input type="number" name="" id="" [(ngModel)]="newProduct.TotalStock" placeholder="Stock in hand.">
    </div>


    
    <div class="form-item">
      <label for="">Price (<b>ZAR</b>)</label>
      <input type="number" name="" id="" [(ngModel)]="newProduct.RegularPrice" placeholder="Stock in hand.">
    </div>

    <div class="form-item">
      <button (click)="saveProduct()" [disabled]="!newProduct.Name">Next</button>
      <div class="link" (click)="showAdd = false">Cancel</div>
    </div>
  </div>
</div>
