
<div class="main-products">
  <div class="full-image" *ngIf="unisexCategory">
    <img [src]="unisexCategory.ImageUrl" class="pc-only" alt="">
    <img [src]="unisexCategory.PhoneBanner" class="phone-only" alt="">
  </div>


  <div class="collections">
    <div class="collection" (click)="goto('home/shop-for/Ladies')">
      Ladies collection
    </div>
    <div class="collection" (click)="goto('home/shop-for/Mens')">
      Men's collection
    </div>
  </div>

  <div class="picked" *ngIf="pickedProducts && pickedProducts.length">
    <h4>
     <span> Instagram pick </span>
     <span> Veiw all </span>
    </h4>
    <div class="products-scroller">
      <div class="product" *ngFor="let product of pickedProducts" (click)="viewMore(product)">
        <img [src]="product.FeaturedImageUrl" alt="">
        <p>
          {{product.Name}}

          <span class="price" *ngIf="!product.OnSale">
            {{product.RegularPrice | currency:'R'}}
          </span>
          <span class="price" *ngIf="product.OnSale">
            <del> {{product.RegularPrice | currency:'R'}}</del> <br>
            {{product.SalePrice | currency:'R'}}
          </span>

        </p>
      </div>
    </div>
  </div>


  <div class="picked" *ngIf="pickedProducts && pickedProducts.length">
    <h4>
      Recently added products
    </h4>
    <div class="products-scroller">
      <div class="product" *ngFor="let product of newProducts" (click)="viewMore(product)">
        <img [src]="product.FeaturedImageUrl" alt="">
        <p>
          {{product.Name}}

          <span class="price" *ngIf="!product.OnSale">
            {{product.RegularPrice | currency:'R'}}
          </span>
          <span class="price" *ngIf="product.OnSale">
            <del> {{product.RegularPrice | currency:'R'}}</del> <br>
            {{product.SalePrice | currency:'R'}}
          </span>

        </p>
      </div>
    </div>
  </div>


  <div class="picked" *ngIf="allOtherProducts && allOtherProducts.length">
    <h4>
     All products
    </h4>
 
    <div class="products">
      <div class="product" *ngFor="let product of allOtherProducts; let i = index">
        <div class="image">
          <img [src]="product.FeaturedImageUrl" alt="Awesome Sunglasses" (click)="viewMore(product)">
        </div>
  
        <div class="product-details" (click)="viewMore(product)">
          <p>
            {{product.Name}}
  
            <span class="price" *ngIf="!product.OnSale">
              {{product.RegularPrice | currency:'R'}}
            </span>
            <span class="price" *ngIf="product.OnSale">
              <del> {{product.RegularPrice | currency:'R'}}</del> <br>
              {{product.SalePrice | currency:'R'}}
            </span>
  
          </p>
        </div>
  
  
      </div>
    </div>
  </div>




 
</div>
