<div class="edit-user-profile" *ngIf="user">
  <div class="top-bar-home">
    <div class="menu-back">
      <span class="material-icons" (click)="back()">
        keyboard_arrow_left
      </span>
    </div>


    <div class="name">
      Edit My profile
    </div>
  </div>


  <div class="form-section">

    <div class="upload-preview">
      <div class="upload">
        <input type="file" accept="image/png, image/jpeg" #file placeholder="Choose file" multiple
          (change)="uploadFile(file.files)" style="display:none;">

        <img class="profile-user" *ngIf="!user.Dp" (click)="file.click()"
          src="assets/images/common/profile-user.svg" alt="">
      </div>
      <div class="preview" (click)="file.click()">
        <img *ngIf="user.Dp" [src]="user.Dp" alt="">
      </div>
    </div>
    <div class="">
      <div class="col">
        <div class="detail">
          <label for="name">My Name *</label>
          <input type="text" [(ngModel)]="user.Name" placeholder="e.g. John">
        </div>

      


        
      <div class="form-group">
        <label for="exampleInputSurname">Delivery address</label>
        <input ngx-google-places-autocomplete [options]='options' [(ngModel)]="user.AddressLineHome"
          placeholder="Start typing..." class="input" #places="ngx-places"
          (onAddressChange)="handleAddressChange($event)" />
      </div>

   
        <div class="detail">
          <label for="name">My Phone Number</label>
          <input type="text" [(ngModel)]="user.PhoneNumber" placeholder="e.g. 084 001 0100">
        </div>




        <button mat-button class="more" [disabled]="!user.Name" type="button" (click)="save()">
          Save my profile
        </button>
      </div>
    </div>




  </div>
</div>
<app-customer-feedback *ngIf="modalModel && modalModel.heading" [modalModel]="modalModel"></app-customer-feedback>
<app-home-loader *ngIf="showLoader"></app-home-loader>
