@import '../../../../../assets/styles/color';

.top-bar-conatiner {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.main {
  background: $white;
  padding: 1em;
  border-radius: .5em;
  margin: .5em;
  height: 100vh;
  overflow-y: scroll;

  @media only screen and (max-width: 600px) {
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 100000;
    padding-top: 5em;
  }

}

.shop {
  display: grid;
  grid-template-columns: 10% auto;
  border-bottom: 1px solid $cloud;
  padding: 1em;

  
  @media only screen and (max-width: 600px) {
    grid-template-columns: 20% auto;
  }

  img {
    width: 5em;
    margin: .2em auto;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  h3 {
    padding: .2em 1em;
    top: .1em;
    text-transform: uppercase;

    span {
      display: block;

      font-weight: 600;
      color: $darker-grey;

      a {
        background: $cloud;
        margin: .4em .25em;
        border-radius: .25em;
        padding: .25em;
        display: block;
        float: left;
      }
    }

    .cta{
        display: block;
        padding: .1em;
        text-align: center;
        width: 9em;
        border-radius: .3em;
        font-weight: 400;
        font-size: .85em;
        cursor: pointer;
        background: $pop;
        color: $black;
        margin: .5em 0;
    }
  }

}


.tabs{
  display: grid;
  grid-template-columns: repeat(2,11em);
  margin-bottom: 2em;
  button{
    width: 90%;
    display: block;
    margin: .2em auto;
  }
}