<div class="main">
  <div class="top-bar-conatiner">
    <div class="top-bar">
      <div class="menu-back">
        <span class="material-icons" (click)="back()">
          chevron_left
        </span>
      </div>


      <div class="name">
        My favorites
      </div>

      <div class="btn-menu">

      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="tab">
      <button class="secondary" *ngIf="tab == 1" (click)="tab = 1">Products</button>
      <button class="tertiary" *ngIf="tab == 2" (click)="tab = 1">Products</button>
    </div>
    <div class="tab">
      <button class="tertiary" *ngIf="tab == 1" (click)="tab = 2">Shops</button>
      <button class="secondary" *ngIf="tab == 2" (click)="tab = 2">Shops</button>
    </div>
  </div>
  <div class="product-section col-1-of-1" *ngIf="tab == 1">
    <div class="mt5" *ngIf="interactions">
      <div class="shops" *ngFor="let item of productsInteractions">
        <div class="shop">
          <div class="icon">
            <img *ngIf="item.ImageUrl" [src]="item.ImageUrl" alt="">
            <img *ngIf="!item.ImageUrl" src="assets/images/shop.svg" alt="">
          </div>
          <div class="item">
            <h3>
              {{item.Name}}
              <span class="price" *ngIf="item.InteractionBody != 'Follow'">
                {{item.Price  | currency:'R'}}
              </span>
              <span class="cta" *ngIf="item.InteractionBody == 'Follow'" (click)="goto(item.InteractionTargetId)">
                Go to shop
              </span>
              <span class="cta" *ngIf="item.InteractionBody != 'Follow'" (click)="select(item)">
                View product
              </span>
            </h3>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="product-section col-1-of-1" *ngIf="tab == 2">
    <div class="mt5" *ngIf="interactions">
      <div class="shops" *ngFor="let item of shopsInteractions">
        <div class="shop">
          <div class="icon">
            <img *ngIf="item.ImageUrl" [src]="item.ImageUrl" alt="">
            <img *ngIf="!item.ImageUrl" src="assets/images/shop.svg" alt="">
          </div>
          <div class="item">
            <h3>
              {{item.Name}}
              <span class="price" *ngIf="item.InteractionBody != 'Follow'">
                {{item.Price  | currency:'R'}}
              </span>
              <span class="cta" *ngIf="item.InteractionBody == 'Follow'" (click)="goto(item.InteractionTargetId)">
                Go to shop
              </span>
              <span class="cta" *ngIf="item.InteractionBody != 'Follow'" (click)="select(item)">
                View product
              </span>
            </h3>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>



<div class="quick-add" *ngIf="showAdd">
  <div class="form">
    <h3>
      Please login or sign up to view your wishlist.
    </h3>

    <div class="form-item">
      <button (click)="goto('home/sign-in')">Login</button>
      <div class="or">Or</div>
      <button (click)="goto('home/sign-up')">Sign up</button>
      <div class="link" (click)="back()">Back</div>
    </div>

  </div>
</div>
