<app-home-nav>
</app-home-nav>

<div class="home-grid">
  <!-- <div class="">
    <app-home-side-nav
      [user]="user"
      [showMobileNav]="showMobileNav"
      [showExistShop]="showExistShop"
      (showMobileMenuEvent)="toggleMenu($event)"
     >
    </app-home-side-nav>
  </div> -->

  <div class="out-let">
    <!-- <div class="user" *ngIf="user">
      <h4>
        Hi {{user.Name}}
        <span>
          Welcome to <b>Tybo Fashion</b>
        </span>
        <span class="role">
          You are loged in as a {{user.UserType}}.
        </span>
      </h4>
    </div> -->
    <router-outlet></router-outlet>
  </div>
</div>


<div class="overlay" *ngIf="loadingUx && loadingUx.Loading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h3 *ngIf="loadingUx.Message">
      {{loadingUx.Message}}
    </h3>
  </div>

</div>


<div class="pop" *ngIf="message">
  <p>
    {{message}}
  </p>
  <div class="">
    <span class="material-icons" (click)="message = ''">
      close
    </span>
  </div>
</div>



<button *ngIf="showScrollUp" class="scroll-top" (click)="totop()">
  <span class="material-icons">
    arrow_circle_up
    </span>
</button>

<app-footer></app-footer>

<app-floating-menu></app-floating-menu>
