@import '../../../../../../assets/styles/color';

.top-bar-conatiner {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.main {
  padding: 1em;
  border-radius: .5em;
  margin: .5em;

  margin-top: 4em;

  @media only screen and (max-width: 600px) {
    margin-top: 0;
  }

  .product-section {
    @media only screen and (max-width: 600px) {
      margin-top: 4em;
    }
  }

}

.products {
  display: grid;
  grid-template-columns: repeat(5, 20%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 50%);
  }

  .product {
    background: $white;
    margin: 1em;
    border: .7em;
    border: 1px solid $cloud;
    float: left;
    padding: .2em;
    box-shadow: $box-shadow;

    @media only screen and (max-width: 600px) {
      margin: .6em;
    }

    .image {
      width: 100%;
      height: 22em;
      background: $white;
      padding: 0;
      overflow: hidden;
      text-align: center;

      @media only screen and (max-width: 600px) {

        width: auto;
        height: 16em;
       
      }


     
      img {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin: 0 auto;
      }
    }




    .product-info {
      color: $black;

      padding: .7em;
      line-height: 1;


      span {
        display: block;
        font-weight: 600;
        padding: .4em 0;
      }
    }


    .company {
      font-weight: 600;
      display: grid;
      grid-template-columns: .5em 2.5em auto;
      color: $silver;

      left: .5em;
      padding: 0;

      img {
        width: 2em;
        top: -.4em;
        height: auto;
      }
    }
  }
}




.child {
  margin-bottom: 4em;
  box-shadow: none;
}

.product-details p {
  text-align: left;
}
