@import '../../../../../assets/styles/color';

.success-modal {
  z-index: 10000;
  padding-bottom: 10em;
}

.cart-item {
  display: grid;
  grid-template-columns: 5% 60% auto;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 20% 60% auto;

  }
  padding: 0;
  // box-shadow: $box-shadow;
  margin: .5em 0;
  border-bottom: 1px solid $cloud;

  .item {
    padding: .1em;
    background: $white;

    img {
      width: 80%;
      margin: .4em;
      border-radius: .5em;
    }

    p {
      color: $black;
      padding: 1em;
      

      span {
        display: block;
        font-weight: 600;
        color: $black;
      }
      .size{
        font-size: .85em;
        font-weight: 400;
      }
    }

    .material-icons {
      color: $danger;
      top: .5em;
    }
  }
}


h1 {
  text-align: center;
  
  font-weight: 800;
  margin-bottom: 2em;
  text-transform: capitalize;
  color: $black;
  background: $white;
  padding: .5em;
}

.buttons {
  position: fixed;
  height: 7em;

  z-index: 11000;
  background: $white;
  box-shadow: $box-shadow;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;

  div {
    text-align: center;
    padding: .5em 0;
  }

  button {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: .2em;
    padding: .8em;
  }
  
}
