<form class="form"
      [formGroup]="rForm">
  <h1 class="h1">
    Reset Password
    <span class="text">
      Reset your password here.
    </span>
  </h1>
  <div class="form-container">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email"
             class="form-control"
             formControlName="Email"
             id="exampleInputEmail1"
             placeholder="Enter email">
      <div class="alert"
           *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password"
             [type]="hidePassword? 'password': 'text'"
             class="form-control"
             formControlName="Password"
             id="exampleInputPassword"
             placeholder="Password">
      <div class="showPassword"
           (click)="hidePassword = !hidePassword">
        <div class="alert"
             *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
          Password is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">
        Confirm Password
        <mat-icon class="pointer"
                  (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </label>
      <input type="password"
             [type]="hidePassword? 'password': 'text'"
             class="form-control"
             formControlName="ConfirmPassword"
             id="exampleInputConfirmPassword"
             placeholder="Confirm Password">
      <div class="showPassword"
           (click)="hidePassword = !hidePassword">
        <div class="alert"
             *ngIf="!rForm.controls['ConfirmPassword'].valid && rForm.controls['ConfirmPassword'].touched ">
          Please confirm your password
        </div>
      </div>
    </div>
    <div class="action">
      <button mat-button
              class="mat-primary"
              color="primary"
              type="submit"
              [disabled]="!rForm.valid"
              (click)="onSubmit(rForm.value)">
        Submit
      </button>
      <h5 class="error">{{error}}</h5>
    </div>
    <div class="cta">
      <a routerLink="/sign-in">Go to sign in</a>
    </div>
  </div>

</form>
