.top-bar {
  grid-template-columns: 3% auto;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 10% auto;
  }

}

  .main {
    padding: .5em 1em;
    padding-bottom: 4em;
    margin: 0;
    // padding-top: 4em;
  }