@import '../../../../../assets/styles/color';

.map {
  width: 96%;
  left: 1em;
  padding: 1em;
}

.secondary-btn {
  background: $white;
  color: $black;
  border: 2px solid $pop;
  margin-left: 1em;
  display: none;
}
