<div class="holder">
  <div class="section">

    <h1 class="main-heading">
      Returns <span>Policy.</span>
    </h1>
  
    <p>
      We strive to ensure that the Goods we deliver to you are of the highest quality. If for any reason you are not
      completely satisfied, you can return the product to us and we will either replace it or credit your account, subject
      to the below terms.
    </p>
  
    <p>
      To ensure your request is processed as quickly as possible you are responsible for the following when returning your
      products:
      email orders (inquiries email)or log a complaint on our website to receive a return reference number.
      package your products safely and securely for protection during transit; and
      clearly mark your return reference number provided by our team on the outside of the parcel.
    </p>
  
    <p>
      We do not accept returns on used Goods.
      Original handling and courier costs are non-refundable.
      Goods specified as non-returnable or not for resale cannot be returned.
    </p>
  
  
    <p>
     <span>
      Not what you ordered?
     </span>
      If we accidentally deliver the wrong product to you, or if the product is not as described on the Website, please
      notify us and we will collect the product from you at no charge. Once we have inspected the product and validated
      your return, we will at your choice deliver the correct product to you as soon as possible (if the correct product
      is available); within 10 days of the return.
    </p>
  
    <p>
    <span>
      Products damaged on delivery
    </span>
      Should a product be damaged or missing any parts or accessories at the time of delivery / collection, please notify
      us within 7 days of such delivery / collection.
      We will arrange to collect the product from you at no charge. Once we have inspected the product and validated your
      return, we will replace the product as soon as possible (if we have the same product in stock to use as a
      replacement) or credit your account with the purchase price of the product.
    </p>
  
  
    <p>
     <span>
      Defective products
     </span>
      We do our best to ensure that the products we deliver to you are of a high quality and without defects. A defect is
      a material imperfection in the manufacture of a product or any characteristic of a product, which makes the product
      less acceptable than one would reasonably be entitled to expect in the circumstances.
      The following will NOT be regarded as defects and will not entitle you to a return under this section:
      faults resulting from normal wear and tear;
      damage arising from negligence, user abuse or incorrect usage of the product;
      where the specifications of a product, although accurately described on the Website and generally fit for its
      intended purpose, do not suit you; and
      in relation to Unboxed Deals, signs of handling and/or repackaging.
      If you have received defective or damaged goods please contact us on ( inquiries emails) within 7 days of delivery.
      We will arrange for it to be collected and either replaced or you will be provided with store credit.
      Please note: Certain Goods sold on (Tybo Fashion website)contain active ingredients which can cause mild irritation of
      the skin upon initial use thereof. Please refer to the specific instructions in respect of these Goods.
    </p>
  
    <p>
      Standard Warranty
      If you have received a product which turns out to be defective or otherwise of poor quality, please notify us on
      <a [href]="COMPANY_EMIAL">{{COMPANY_EMIAL}}</a> as soon as reasonably possible after you become aware of the defect or poor quality, but in
      any event within 30 days after delivery / collection of the product.
      We cannot facilitate returns that fall outside of the 30 day period.
  
    </p>
  
    <p>
      Charges
      If you return a defective product to us, but you fail to return all of the accessories and parts that were sold with
      that product, we are entitled to (subject to applicable law) to refuse the return, only to replace the item that you
      did return, or to estimate the value of the missing accessories and parts and only to credit or refund you in
      respect of the returned item.
      If you return a product that does not comply with this Policy, you may be liable to reimburse Tybo Fashion for the
      cost of collecting the product from you and the cost of having the product returned to you.
    </p>
  
    <div class="skin-types">
  
  
    </div>
  
  </div>
</div>
