@import '../../../../../assets/styles/color';

.top-bar {
  grid-template-columns: 3% 90% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 10% 80% auto;
  }
.share{
  text-align: right;
}
}

.data-view-main {
  padding: .5em 1em;
  padding-bottom: 4em;
  margin: 0;


  // padding-top: 4em;
  @media only screen and (max-width: 600px) {
    padding: 4em 0;
  }
}

