<div class="overlay">
  <div class="login-form">
    <h4>
      Please login to continue.
    </h4>

    <form class="form" [formGroup]="rForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1"
          placeholder="Enter email">
        <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control" formControlName="Password"
          id="exampleInputPassword1" placeholder="Password">
        <div class="showPassword" (click)="hidePassword = !hidePassword">
          <div class="alert" *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
            Password is required
          </div>
        </div>
      </div>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <div class="forgot-password">
        <a routerLink="/forgot-password" class="link">forgot password ?</a>
      </div>
      <div class="action">
        <button mat-button color="primary" (click)="Login()" [disabled]="!rForm.valid">
          Login
        </button>
        <h5 class="error">{{error}}</h5>
      </div>
      <div class="cta">
        <h1>Don't have an account?</h1>
        <a routerLink="/sign-up">Sign up for free</a>
      </div>
    </form>
  </div>
</div>