<div class="top-nav-bar">
  <div class="notice">
    <div class="subs">
      <!-- <span class="gender">Ladies</span>
      <span class="gender">Men's</span> -->
      <span> Delivery from R60.00 nationwide</span>
    </div>
  </div>
  <div class="nav-grid">


    <div class="col" (click)="toggle()">
      <span class="material-icons pointer">
        menu
      </span>
    </div>

    <div class="search col">
      <!-- <span class="material-icons pointer" (click)="showSearch = true">
        search
      </span> -->
    </div>

    <div class="logo col" (click)="goto('')">
      <img src="assets/images/common/logoblack2.png" style="width: auto; height: 2.5em;" alt="">
    </div>


    <div class="divisions col">
      <div class="division">
        <a (click)="goto('home/shop-for/Ladies')">
          Ladies collection
        </a>
      </div>
      <div class="division">
        <a (click)="goto('home/shop-for/Mens')">
          Men's collection
        </a>
      </div>
      <!-- <div class="division">
        <a (click)="goto('home/on-sale')" style="color: red;">
          Sale
        </a>
      </div> -->
      <div class="division">
        <a (click)="goto('home/shops')">
          Shops
        </a>
      </div>

    </div>

    <div class="search col">
      <mat-icon [matBadge]="productsInteractions.length" class="love loved pointer" matBadgeColor="pink" (click)="goto('home/wishlist')">favorite</mat-icon>
    </div>


    <div class="cart col">
      <mat-icon [matBadge]="carttItems" matBadgeColor="pink" (click)="goto('shop/cart')">shopping_bag</mat-icon>
    </div>
  </div>



</div>



<app-home-side-nav *ngIf="showMenu"></app-home-side-nav>
