@import '../../../../../assets/styles/color';

.top-bar {
  grid-template-columns: 3% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 10% auto;
  }

}



.product-item {
  grid-template-columns: 10% 70% auto;
  width: 50%;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 15% 55% auto;
    width: 100%;
  }

  .option {
    text-align: right;
    padding-right: 1em;

    span {
      top: 1.5em;
      font-weight: 600;
    }

    .material-icons {
      top: 1.2em;
    }
  }
}

.main {
  padding-top: 4em;
}



.bread {
  max-width: $max-width !important;
}
