@import '../../../../../assets/styles/color';

.list-selector {
  background: rgba(0, 0, 0, 0.377);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400000;
  width: 100%;
  height: 100%;
  color: $black;
  overflow-y: scroll;

  .items {
    padding-bottom: 4em;
    background: $white;
    width: 60%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 1em;

    @media only screen and (max-width: 600px) {
      width: 100%;
      border-radius: 0;
      margin: 0;
    }

    .steps {
      color: $black;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-columns: 100%;
      padding: 1em;
      margin-bottom: 1em;

      .step {
        text-align: center;
        color: $darker-grey;
        border: none;
        padding: 1em 0;

        .material-icons {
          margin: 0;
        }

        .last {
          color: $white;
        }
      }

      .active {
        color: $black;
        font-weight: 700;
        border-bottom: 2px solid $pop;
      }
    }

    .item {
      display: grid;
      grid-template-columns: 7% auto;
      background: $white;
      margin: .5em;
      padding: .5em 0;
      border-bottom: 1px solid $cloud;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 20% auto;
      }

      .name {
        padding: .5em 1em;
        font-weight: 600;

      }

      img {
        width: 100%;
        margin: 0 auto;
      }

      p {

        span {
          display: block;
          ;
          padding: .3em 0;
          font-weight: 300;
        }
      }
    }
  }

  .more {
    // margin: .5em auto;
    margin: 2em 0;
    width: 14em;

    border-radius: .5em;
    display: block;
    position: relative;

    @media only screen and (max-width: 600px) {
      margin: 2em auto;
    }
  }

}
