<div class="holder">
  <div class="section">

    <h1 class="main-heading">
      What is

      <span>Tybo Fashion?</span>
    </h1>
    <p>

      Tybo Fashion is an online marketplace with a focus on Mzansi fashion products. The platform
      was
      founded by Tybo Solution (South African Sofware company) as they wanted to help people discover, buy and sell
      fashion. It features fashion designers and resellers - you'll find gems that range in price depending on your
      budget!. We accept designer/resellers who are committed to deliver quality work.

    </p>


    <p>
      On Tybo Fashion, it's easy to not only discover, but also connect with emerging brands and the creators behind
      them.
      Because each designer on Tybo Fashion is in charge of managing their own shop, fulfilling orders, and
      setting
      their brand’s policies, any questions regarding shipping details, delivery times, sizing, order specifics, and
      returns should be directed to the brand owner of the shop.
    </p>

    <p>
      You can find each brand owner’s contact information on their site profile page.


    </p>

    <p>
      Feel free to join our Facebook and Instagram pages, links are in the footer.
    </p>

    <p>
      Tybo Fashion allows shoppers to discover, follow, and engage with independent designer/maker brands with unique
      products
      all in South Africa.


    </p>

    <!-- <p>
      Search for arts and crafts shops near me
    </p>

    <p>

      Explore Tybo Fashion's shops and find the pieces that make you individual.

    </p> -->


    <div class="skin-types">


    </div>

  </div>

  <div class="about-image">
    <img src="assets/images/about.png" alt="">
  </div>

</div>


<app-shop-by-catergory [label]="label"></app-shop-by-catergory>

