<div class="account mobile-full">
  <div class="top-bar">
    <div class="menu-back">
      <span class="material-icons" (click)="back()">
        chevron_left
      </span>
    </div>
  
  
    <div class="name">
      Forgot password
    </div>
  
    <div class="btn-menu">
    </div>
  </div>
  <form class="form"
        [formGroup]="rForm">
    <div class="form-container">
      <h1 class="h1">
        Forgot password
        <span class="text">
          please enter your email below, to change password
        </span>
      </h1>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email"
               class="form-control"
               formControlName="Email"
               id="exampleInputEmail1"
               placeholder="Enter email">
        <div class="alert"
             *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
          Email is required
        </div>
      </div>
      <div class="action">
        <button mat-button
                class="mat-primary"
                color="primary"
                type="submit"
                [disabled]="!rForm.valid"
                (click)="onSubmit(rForm.value)">
          Submit
        </button>
        <h5 class="error">{{error}}</h5>
      </div>
      <div class="cta">
        Go to
        <a routerLink="/home/sign-in">sign in</a>
      </div>
    </div>
  </form>
</div>
