<div class="footer">
  <div class="items">
    <div class="item">
      <h3>
        Find us on.
      </h3>

      <!-- <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="http://" target="_blank" rel="noopener noreferrer">Facebook</a>
        </div>
      </div> -->
      <div class="social">
        <div class="icon">
          <img src="assets/images/instagram.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.instagram.com/tybofashion/" target="_blank" rel="noopener noreferrer">@tybofashion</a>
        </div>
      </div>

<!-- 
      <div class="social">
        <div class="icon">
          <img src="assets/images/twitter.svg" alt="">
        </div>

        <div class="name">
          <a href="https://twitter.com/scenta_holics" target="_blank" rel="noopener noreferrer">Twitter </a>
        </div>
      </div> -->

      <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.facebook.com/tybofashion" target="_blank" rel="noopener noreferrer">Tybo fashion </a>
        </div>
      </div>


    </div>
    <div class="item">
      <h3>
        NEED HELP?
      </h3>


      <div class="social col-1">
        <div class="name">
          <a routerLink="/home/about">about Tybo Fashion</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/home/contact">contact us</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/">Home</a>
        </div>
      </div>

    </div>

    <div class="item">
      <h3>
        terms and conditions
      </h3>






      <div class="social  col-1">
        <div class="name">
          <a routerLink="/home/terms">Terms of service
          </a>
        </div>
      </div>



      <div class="social  col-1">
        <div class="name">
          <a routerLink="/home/returns-policy">Return Policy

          </a>
        </div>
      </div>


    </div>

  </div>

  <div class="power">
    <br>
    © {{year}} Tybo Fashion. 
    <img style="width: 8em; top: 1em;left: 2em;" src="assets/images/common/payments.png" alt="">
  </div>
</div>
