<div *ngIf="products" class="main box-shadow">
  <h2 class="cat-label">
    <span>
      {{('Discover ' + label) || 'Discover'}}
    </span>

    <span>
      <!-- Sell all -->
    </span>
  </h2>
  <div class="flexy">
    <div class="list">
      <div class="" *ngFor="let item of products; let i = index">
        <div class="catergory" (click)="viewMore(item)"
          [ngStyle]="{'background-image': 'url(' + item.FeaturedImageUrl + ')'}">
         
        </div>
        <div class="name">
          <b>
            {{item.RegularPrice | currency:'R'}}
          </b>

          <br>
          <a (click)="gotoComapny(item)">   By {{item.Company.Name}}</a>
       
          <!-- {{item.Name}} -->
        </div>
      </div>
    </div>
  </div>



</div>
<app-product-quick-view *ngIf="selectedProduct" [selectedProduct]="selectedProduct"
  (showProduct)="selectedProduct = null"></app-product-quick-view>
