<!-- <app-loader [showLoader]="showLoader" *ngIf="showLoader"></app-loader> -->



<div class="create-order mobile-full">
  <div class="top-bar-conatiner">

    <div class="top-bar">
      <div class="menu-back ">
        <span class="material-icons" (click)="back()">
          keyboard_arrow_left
        </span>
      </div>


      <div class="name link tal" (click)="back()">
        Orders
      </div>


      <div class="name" *ngIf="order">
        Order
      </div>
    </div>
  </div>

  <!-- <div class="col-1-of-2"> -->

    

  <div class="ctas" *ngIf="order && order.Orderproducts &&order.Orderproducts.length">

    <div class="cta">
      <button class="mat-primary checkout " mat-button color="primary" (click)="print()">
        Print invoice
      </button>
    </div>
  </div>
  <h2 class="header-label">
    Customer
  </h2>
  <div class="section-card" *ngIf="order && order.Customer">

    <div class="user-profile">
      <div class="icon" *ngIf="order.Customer.Dp">
        <img *ngIf="order.Customer.Dp" [src]="order.Customer.Dp" alt="">
      </div>

      <div class="icon" *ngIf="!order.Customer.Dp">
        <img class="profile-user" src="assets/images/common/profile-user-darker.svg" alt="">
      </div>

      <div class="name">
        {{order.Customer.Name}}
        <span>
          {{order.Customer.PhoneNumber}}
        </span>
        <span>
          {{order.Customer.Email}}
        </span>
      </div>
    </div>

    <div class="more-details">
      <p>
        <span class="price address">
          {{order.Customer.AddressLineHome}}
        </span>
      </p>

      <div class="options">
        <button class="edit br" [cdkCopyToClipboard]="order.Customer.AddressLineHome" (click)="copy()">
          Copy address
        </button>

      </div>
    </div>
  </div>

  <span *ngIf="isAdmin && order.Company">
    <h2 class="header-label">
      Company
    </h2>
    <div class="section-card" *ngIf="order && order.Company">

      <div class="user-profile">
        <div class="icon" *ngIf="order.Company.Dp">
          <img *ngIf="order.Company.Dp" [src]="order.Company.Dp" alt="">
        </div>

        <div class="icon" *ngIf="!order.Company.Dp">
          <img class="profile-user" src="assets/images/common/profile-user-darker.svg" alt="">
        </div>

        <div class="name">
          {{order.Company.Name}}
          <span>
            {{order.Company.Phone}}
          </span>
          <span>
            {{order.Company.Email}}
          </span>
          <span>
            {{order.Company.BankName}} {{order.Company.BankAccNo}}
          </span>
        </div>
      </div>


    </div>
  </span>

  <h2 class="header-label">
    Ordered Products
  </h2>
  <div class="section-card">


    <div class="more-details" *ngIf="order && order.Orderproducts && order.Orderproducts.length">
      <app-order-cart [order]="order" [hideDelete]="true"></app-order-cart>
      <h4>
        <span> Created on... </span> {{order.CreateDate | date: 'mediumDate'}}
      </h4>
      <h4 *ngIf="order.Shipping && order.ShippingPrice">
        <span>{{order.Shipping}}... </span> {{order.ShippingPrice  | currency:'R'}}
      </h4>
      <h4>
        <span>Total... </span> {{order.Total  | currency:'R'}}
      </h4>
      <h4>
        <span>Paid... </span> {{order.Paid  | currency:'R'}}
      </h4>
      <h4>
        <span>Due... </span> {{order.Due  | currency:'R'}}
      </h4>

      <div class="options">
        <button class="edit br" *ngIf="order.OrdersId.length > 10" (click)="pay()">
          Record payment
        </button>
      </div>
    </div>

  </div>

  <!-- </div> -->
  <h2 class="header-label">
    Order Tracking
  </h2>
  <div class="section-card tracking">

    <app-order-tracking [order]="order"></app-order-tracking>
    <div class="more-details">


      <div class="options" *ngIf="order &&  order.Status == 'Processing'">
        <button class="edit br" (click)="ship()">
          Ship this order
        </button>

      </div>
    </div>
  </div>

  <div class="pay" *ngIf="showPay">
    <div class="pay-modal">
      <div class="">
        <label for="">Amount received from the customer</label>
        <input type="number" name="" id="" [(ngModel)]="orderPayment">
        <span class="amount-due">Amont Due : {{order.Due  | currency:'R'}} </span>
        <button class="more" (click)="confirmPayment()" [disabled]="!orderPayment || orderPayment > order.Due">Confirm
          payment</button>
        <a (click)="pay()">Cancel</a>
      </div>
    </div>
  </div>


</div>
<app-user-feedback *ngIf="modalModel && modalModel.heading" [modalModel]="modalModel"></app-user-feedback>
