@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Metal+Mania&display=swap');
@import './assets/styles/color';
@import './assets/styles/main';
@import './assets/styles/button';
@import './assets/styles/form';
@import './assets/styles/grid';
@import './assets/styles/keyframes';
@import './assets/styles/modal';
@import './assets/styles/account';
@import './assets/styles/users';
@import './assets/styles/top-bar';
@import './assets/styles/profile';
@import './assets/styles/table';
@import './assets/styles/super-list';
@import './assets/styles/list-view';
@import './assets/styles/order-crete-view';
@import './assets/styles/data-view-main';
// @import './assets/styles/checkboxes';
@import './assets/styles/add-form';

@import '~quill/dist/quill.core.css';

@import '~quill/dist/quill.bubble.css';

@import '~quill/dist/quill.snow.css';

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  // background: $white;
  background: $cloud;
}

body {
  margin: 0;
  font-family: 'Jost' !important;
  font-size: 15px;

  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }

}

p {
  font-size: 15px;

  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
}

button {
  font-size: 13px;

  @media only screen and (max-width: 600px) {
    font-size: 11px;
  }
}

html,
body {
  height: 100%;
  // background: $white;
  background: $cloud;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $cloud;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: transparent;

  @media only screen and (max-width: 600px) {
    height: 0;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: $pop;
  box-shadow: none;
  cursor: pointer;
}

.pac-container { z-index: 10000 !important; }