$dashboard-body-width:100%;
// $primary:#000000;
$primary:#111822;
$tec:#009CD7;
$red:#ff0022;
$mid:#333333;
$all : #333333;
$overlay :rgba(136, 132, 132, 0.774);
$charcoal: #2f3640;

// $pop:#EE3575;
$pop:#F3CF3D;
$pop-darker:#b39006;
$secondary:#2ecc71;
$success:#00A110;
$tertiary:#5469BC;
$primary-purple:#CA2186;
$primary-05:#0cb16469;
$info:#5BCADD;
$info-05:#3498db91;
$black:#000000;
$white:#FFFFFF;
$grey:#CED6E0;
$darker-grey:#a5a5a5;
$main-bg: #fff;
// $main-bg: #000000;
// $silver:#bdc3c7;
// $silver:#656666;
$silver:#80858B;
$danger:#FF4757;
$danger-05:#ff47569b;
$cloud: #eaeded;
$cloud-05: #eaeded78;
$warn: #e4c22e;
$city-ligth: #dfe6e9;
$box-shadow: 0 1px 2px rgba(93, 93, 93, 0.048),
0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-hover: 0 3px 6px rgba(19, 18, 18, 0.075),
0 3px 8px rgba(0, 0, 0, 0.048);
$border-radius : .8rem;

// dark

//status

$warn-bg:#FFF3E7;
$warn-color:#FFAA5A;

$danger-bg:#FDE9EB;
$danger-color:#EC6687;

$success-bg:#E5F7F9;
$success-color:#58CFD3;


$input-border : #ccc;
$max-width: 90em;

$google:#df4938;
$facebook:#3b5998;

