input[type=text],
[type=email],
[type=number],
[type=password],
[type=search],
select, .input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid $darker-grey;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  padding: .7em;
  color: $cloud;

  border: none;
  background: $cloud;
  color: $primary;

  &::placeholder {
    color: $grey !important;
  }
}

textarea {
  width: 100%;
  height: 6rem;
  display: inline-block;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid $grey;
  border-radius: 4px;
  margin: 8px 0;
  resize: vertical;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $primary;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary;
}

.mat-radio-button {
  margin: 0 1rem;
  margin-left: 0;
}

.mat-error {
  font-weight: 600;
  
  text-transform: capitalize;
}

label {
  color: $darker-grey;
  display: block;
  margin-top: .2em;
}