.product-item {
  display: grid;
  grid-template-columns: 5% 70% auto;
  padding: 0;
  border-radius: 0;
  background: $white;
  margin: 0;
  border-bottom: 1px solid $grey;


  @media only screen and (max-width: 600px) {
    margin-left: 0;
    grid-template-columns: 17%  auto;
    margin:0;
    border-radius: 0;

  }

  .success-modal h1 {
    text-align: left;
    background: red;
  }

  .item {
    padding: 0;
    background: $white;

    img {
      width: 100%;
      margin: 0;
    }

    p {
      color: $black;
      padding: .5em 2em;
      font-weight: 400;
      text-align: left;

      span {
        display: block;
      }

      .cat {
        color: $silver;
        padding:0;
        line-height: 15px;
      }

      .price {
        margin-top: .5em;
        font-weight: 600;
        color: $pop-darker;
      }
    }

    .material-icons {
      color: $danger;
      top: 1.2em;
    }

    .item-header {
      display: grid;
      grid-template-columns: 50% auto;
      // border: 1px solid black;
      padding: .4em 0;
      color: $darker-grey;
      font-weight: 600;

      .col {
        text-align: left;
      }

      .status {
        width: 100%;
        margin: 0;
        padding: .4em 1em;
        border: none;
        border-radius: .5em;
        color: $white;
        font-weight: 600;
        

      }
    }
  }
}


.add {
  position: fixed;
  z-index: 10000000;
  right: 21em;
  top: .5em;
  background: $pop;
  padding: .4em 1em;
  text-align: center;
  color: $black;
  font-weight: 600;
  border-radius: 1em;
  
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    right: 1em;
    top: .6em;
  }
}

.p6 {
  padding-bottom: 6em;
}


.filters {
  border-bottom: 1px solid $cloud;

  @media only screen and (max-width: 600px) {
   padding: .5em ;
  }

  .selects {
    display: grid;
    grid-template-columns: 40% 30% 30%;

    .form-item {
      width: 100%;
      padding: 0;

      select,
      input {
        width: 90%;
        border: none;
        background: $white;
        border-radius: 2em;
        margin: .2em auto;
      }
    }


  }
}
