@import '../../../../../../../assets/styles/color';

.main {
  padding: 3em 2em;
  background: $white;
  margin: 4em;
  max-height: 94vh;
  overflow-y: scroll;
  margin-right: 0;

  @media only screen and (max-width: 600px) {
    margin: 0;
  }

}

.all-items {

  width: 60%;
  display: grid;
  grid-template-columns: 5% 10% auto;

  input {
    top: 1em;
  }


  @media only screen and (max-width: 600px) {
    width: 100%;
    grid-template-columns: 10% 20% auto;
  }

  .item {
    font-weight: 400;
    cursor: pointer;
    border-bottom: 2px solid $cloud;
    padding: .5em;


    img {
      width: 3em;
    }
  }
}

.action-row{
    grid-template-columns:10% auto;

    input {
      top: 1em;
    }
  
  
    @media only screen and (max-width: 600px) {
      width: 100%;
      grid-template-columns: 20% 70% auto;
    }
}

.devider {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 60% auto;

  span {
    display: block;

    &:last-child {
      text-align: right;
      cursor: pointer;
    }
  }

  .add-new {
    color: $secondary;
  }
}

.scroller {
  max-height: 70vh;
  overflow-y: scroll;
}


.devider {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 60% auto;

    span {
      display: block;

      &:last-child {
        text-align: right;
        cursor: pointer;
      }
    }

    .add-new {
      color: $secondary;
    }
  }